.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

.App-header {
	background-color: #222;
	height: 150px;
	padding: 20px;
	color: white;
}

.App-title {
	font-size: 1.5em;
}

.App-intro {
	font-size: large;
}

@keyframes App-logo-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

.filters__filters {

}

.hidden {
	display: none;
}

.visible {
	background-color: grey;
	display: block;
}

.selected {
	border: 1px solid red;
}

.contact {
	position: relative;
}

.contact-details {
	position: absolute;
	display: none;
}

.contact:hover .contact-details {
	display: block;
	background-color: orange;
}

.applied {
	border: 1px dashed black;
}

.ongoing {
	background-color: green;
}

.yellow-rejection {
	background-color: yellow;
}

.red-rejection {
	background-color: red;
}

footer {
	background: white;
	position: fixed;
	bottom: 0;
}

.job {
	display: flex;
	flex-direction: column;
}

.job-summary__content {
	display: flex;
}

.job-summary__content > * {
	margin: 5px;
	border: 1px solid black;
}

.new-job {
	display: flex;
	flex-direction: column;
	width: 75%;
	position: absolute;
	background-color: darkcyan;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
}